@import url("Fonts/HelveticaNowDisplay-Regular/style.css");
@import url("Fonts/HelveticaNowDisplay-Bold");

html {
    overflow-x:hidden ;
    height: 100%;
    width:100%;
    margin:0%;
}
/*Texto y su estilo */
h1,h2,h3,p,li,a{
    font-family:'HelveticaNowDisplay-Bold', 'HelveticaNowDisplay-Regular', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,h2,h3 {color: white; text-align: center;}
h2 {
    margin-top: 25%;
    margin-bottom: 10%;
}

p, .Roadmap{
    color: white; text-align:justify;
    margin-left: 25% ;
    font-size:large;
}

@media (max-width:1200px){
    h1{font-size: 24pt;}
    h2,p{font-size: 18pt;}
    h3{font-size: 12pt;}
    a{font-size: 18pt;}
}

/*Links*/
a{color: white;}
a:hover {color: rgb(164, 164, 4);}


/*body*/
body{
    top: 0;
    margin: 0 auto;
    background-color: rgb(1, 68, 63);
    overflow-x:hidden;
}

/*Header */
#ulnav{
    width: 100%;
    position: fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 53, 50);;
}
.links{
    width: 20%;
    float: left;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
    
}
.links a {
    display: block;
    color: white;
    text-align: center;
    padding: 10%;
    text-decoration: none;
}
.links a:hover:not(.active) {
    background-color: rgb(0, 34, 32);
    color: rgb(164, 164, 4);
  }
@media (max-width:1200px){
    .links{
        float: none;
        width: 100%;
    }
}

/* Sites */

.logosContainer{
    margin-top: 10%;
    text-align: center;
}
.logosContainer a{
    margin-bottom: 10%;

}

.title{
    color: rgb(164, 164, 4);
    font-size: 50pt;
    height: 30px;
    text-align: center;
}

.Logos_link {
    width: 2%;
    margin-bottom: 5%;
    margin: 1%;
}
table {width: 100%;}

@media(max-width:1200px){
    #ulnav{display: none;}
}

/*Dropdown*/
#drop_button {
    background-color: rgb(0, 53, 50);
    color: white;
    margin-top: 10%;
    padding-left: 10%;
    border: none;
    cursor: pointer;
  }
  
  #dropdown {
    position:absolute;
    width: 20%;
    display: inline-block;
    border-radius: 5%;
  }
  
  #dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 53, 50);;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  #dropdown-content a {
    color: white;
    padding: 10%;
    text-decoration: none;
    display: block;
  }
  
  #dropdown-content a:hover {background-color: rgb(0, 34, 32)}
  
  #dropdown:hover #dropdown-content {
    display: block;
  }
  
  #dropdown:hover #drop_button {
    background-color: rgb(0, 34, 32);
  }
  @media(min-width:1200px){
    #dropdown,#drop_button, #dropdown-content{display: none;}
}
@media(max-width:1200px){
    #the_fauna_gang{
        text-align: center;
    }
    
}
/*Foto*/
#Wetland {
    width: 75%;
    margin-top: 5% ;
    margin-left: 10%;
    margin-right : 10%;
    border-radius: 5%;
    object-position:center;

     
}
/*About Us */
#about_us{
    width: 100%;
    display: flex;
}
#capybara_image{
    width: 60%;
    border-radius: 5%;
    margin-bottom: 25%;
}
#description{
    text-align: center;
    width: 50%;
    float: left;
    line-height: 200%;
}
#image_about_us{
    width: 50%;
    float: left;
    text-align: center;
}
@media (max-width:1200px){
    #about_us{
        width: 100%;
    }
    #capybara_image{
        width: 60%;
        border-radius: 5%;
        margin-bottom: 25%;
    }
    #description{
        text-align: center;
        width: 100%;
        margin-right: 25%;
    } 
    #description > p{
        margin-right: 25%;
    }
    #image_about_us{
        width: 100%;
        text-align: center;
    }
}

/*The Capibara Gang*/
.sample {width: 11%;
    margin: 1%;
    margin-left: 2%;
    margin-top: 1%;
    border-radius: 5%;
}
@media (max-width:1200px){
    .sample{
        width: 20%;
        margin: 1%;
        margin-left: 2%;
        margin-top: 1%;
        border-radius: 5%;
    }
}

/* Cabybara */

.CapybaraBenefit{
    font-size: large;
    margin-top: 5%;
    margin-left: 25%;
    margin-right:25%;
    color: white; text-align:justify;
}

/*Roadmap*/
.Roadmap {
    margin-bottom: 5%;
    margin-right: 25%;
}
#roadmap_image{
    width: 50%;
    margin-left: 25%;
}

@media (max-width:1200px) {
    p {font-size: larger;}
}

/*Team*/

@media (min-width:1200px){
    #team_div_phone{
        display: none;
    }
}
#team_div{
    display: flex;
    flex-wrap: wrap;
}
.team_member{
    width: 30%;
    margin-top: 1%;

}
.team_image{
    width: 70%;
    text-align: center;
    border-radius: 5%;
}
.member_name{
    color: white;
    text-align: center;
    width: 70%;
}
.member_description{
    text-align: center;
    width: 70%;
}
@media(max-width:1200px){
    #team_div{display: none;}
}
#team_div{
    width:100%
}
.member_name_phone{
    text-align: center;
}
.team_image_phone{
    width: 70%;
    text-align: center;
    border-radius: 5%;
    margin-left: 15%;
    margin-right: 25%;
}
/*Contactos */
#logosContainer2{
    margin-bottom:30%;
    text-align: center;
}
#logosContainer2 a{
    margin-bottom: 30%;

}

#title2{
    color: rgb(164, 164, 4);
    font-size: 50pt;
    height: 30px;
    text-align: center;
}

.Logos_link2 {
    width: 2%;
    margin-bottom: 5%;
    margin: 1%;
}
@media (max-width:1200px){
    .Logos_link2, .Logos_link{width: 20%;}
}