
html {
    overflow-x:hidden ;
    height: 100%;
    width:100%;
    margin:0;
}
/*Texto y su estilo */
h1,h2,h3 {color: white; text-align: center;}
h2 {
    margin-top: 25%;
    margin-bottom: 10%;
}

p, .Roadmap{
    color: white; text-align:justify;
    margin-left: 25% ;
    font-size:large;
}
.Roadmap {margin-bottom: 5%;}

@media (max-width:1200px) {
    p {font-size: larger;}
}

/*body*/
body{
    margin: 0 auto;
    background-color: rgb(1, 68, 63);
    overflow-x:hidden;
}

/*Header */
#Header {
    position: top;
    background-color: rgb(0, 53, 50);
    width:100%;
}
#ulnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.links{
    width: 25%;
    float: left;
    
}
.links a {
    display: block;
    color: white;
     text-align: center;
    padding: 5%;
    text-decoration: none;
}
.links a:hover:not(.active) {
    background-color: rgb(0, 34, 32);
  }
@media (max-width:1200px){
    .links{
        float: none;
        width: 100%;
    }
}
table {width: 100%;}

/*Foto*/
#Wetland {
    width: 75%;
    margin-top: 5% ;
    margin-left: 10%;
    margin-right : 10%;
    border-radius: 5%;

     
}
/*About Us */
#AbUsT {
    width: 100%;
}
.AbUs {
    color: white;
    text-align: center;
    width: 50%;
}
#Capibara {
    width: 50%;
    margin: 10%;
    margin-right: 60%;
    border-radius: 5%;
}

/*The Capibara Gang*/
.sample {width: 11%;
    margin: 1%;
    margin-left: 2%;
    margin-top: 1%;
    border-radius: 5%;
}

/*Links*/
a{color: white;}
a:hover {color: greenyellow;}

/*Team*/
.thTeam {
    width: 60%;
    border-radius: 5%}

.tdTeam {margin-right : 1%;}
.Description {color: white; text-align: center; font-size:120%;}

/*Contactos */
.Logos {width: 5%;
    margin-top: 5% ;
    margin-left: 10%;
    margin-right : 10%;
    border-radius: 5%;
}


